//
//  Config.xcconfig
//  PolyglotFlashcards
//
//  Created by Igor Kim on 24.11.21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PIXABAY_TOKEN = token_here
DEEPL_TOKEN = token_here

PIXABAY_BASE_URL = pixabay.com/api
DEEPL_BASE_URL = api-free.deepl.com/v2
POLYGLOT_API_BASE_URL = localhost:1323
